/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(../Img/backgrounds/fundo-inicial.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

.cima-logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.logo {
    width: 250px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}


.logo:hover {

    animation: mexerLogo 0.8s ease;

    filter:
        drop-shadow(0 0 10px #fff) drop-shadow(0 0 25px #b46cff);

}


@keyframes mexerLogo {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(-8deg) scale(1.05);
    }

    50% {
        transform: rotate(8deg) scale(1.08);
    }

    75% {
        transform: rotate(-5deg) scale(1.05);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }

}

.disney-Pixar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-left: 40px;
}

.pixar {
    width: 300px;
    /* controla o tamanho */
    height: auto;
    margin-top: -75px;
    /* sobe */
}

.conteudo {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    /* espaço entre eles */
    padding-right: 40px;
}

.menino {
    width: 400px;
    height: auto;

    position: relative;

    animation: flutuarMenino 5s ease-in-out infinite;
    transition: all 0.5s ease;

    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}


/* movimento suave */
@keyframes flutuarMenino {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }

}


/* hover mágico */
.menino:hover {

    transform: scale(1.03);

    filter:
        drop-shadow(0 0 8px rgba(180, 120, 255, 0.5));

}



.informacoes {
    width: 500px;
    height: auto;
    margin-right: -10px;
    position: relative;

    animation: flutuarCard 5s ease-in-out infinite;
    transition: all 0.5s ease;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}



/* leve flutuação também */
@keyframes flutuarCard {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* hover mágico */
.informacoes:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 25px rgba(140, 90, 255, 0.6));
}



.botao-cadastro {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    padding-right: 45px;

}

.img-botao {
    width: 450px;
    /* ajuste conforme desejar */
    height: auto;
    margin-right: 570px;
}

.img-botao {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.botao-cadastro {
    position: relative;
}


.img-botao:hover {

    transform: scale(1.08);

    filter:
        drop-shadow(0 0 10px #fff) drop-shadow(0 0 25px #b700ff);

}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image:
        radial-gradient(circle, rgba(255, 255, 255, .8) 1px, transparent 2px);
    background-size: 80px 80px;
    opacity: 0.25;
    animation: estrelas 8s linear infinite;
    pointer-events: none;
}


@keyframes estrelas {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 200px 300px;
    }
}

.logo,
.pixar,
.img-botao {

    animation: aparecer 1.2s ease forwards;

}


@keyframes aparecer {

    from {

        opacity: 0;
        transform: translateY(40px);

    }


    to {

        opacity: 1;
        transform: translateY(0);

    }

}